/* Reset */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin: 0;
  top: 0;
}

.nav ul {
  display: flex;
  justify-content: start;
}

.nav ul li {
  position: relative;
}

.navbar a,
.dropdown .drop {
  font-size: 16px;
  color: rgba(92, 106, 120, 1);
  background-color: white;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 15px;
  font-family: sans-serif;
  padding: 12px 16px;
  color: rgba(92, 106, 120, 1);
  transition: background-color 0.2s;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(249, 250, 251);
  color: rgb(98, 93, 245);
}

.dropdown button:hover,
.test:hover {
  color: black;
}

/* Social Media */
.social {
  color: #5c6370;
  font-size: 17px;
  margin-right: 170px;
  display: flex;
  align-items: start;
}

.social ul {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.test {
  padding: 5px;
  height: 20px;
  width: 20px;
}

.social li:hover {
  background-color: rgb(234, 237, 240);
  border-radius: 50%;
  cursor: pointer;
}

.search:hover {
  background-color: rgb(231, 230, 230) !important;
}

.sub {
  color: #ffffff;
  background-color: #15171a;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 20px;
}

.tow {
  display: flex;
  flex-direction: row;
}

/* Image Section */
.image {
  padding: 150px;
  margin-left: 230px;
  margin-right: 200px;
  margin-top: 10%;
}

.image img {
  padding: 60px;
  border-radius: 50%;
  border: solid #fff;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  margin-left: -70px;
}

/* Intro Section */
.intro {
  margin: 10px 50px 10px;
}

.pic {
  margin-top: 80px;
  margin-left: 120px;
  cursor: pointer;
  width: 600px;
  height: 370px;
}

.pic:hover {
  transform: scale(1.04);
  transition: 200ms ease-in-out;
}

.key {
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 12px;
  margin: 130px 70px 1px;
}

.a {
  padding-left: 40px;
  font-size: 36px;
  font-family: sans-serif;
  font-weight: bold;
}

.m {
  font-family: sans-serif;
  font-size: 18px;
  padding: 50px;
  color: #5c6a78;
}

.underline {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: rgba(98, 93, 245, 0.4);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.a:hover .underline::after {
  transform: scaleX(1);
}

.end {
  text-align: center;
  padding: 50px;
}

.butt {
  padding: 12px 30px;
  font-size: 16px;
  font-family: sans-serif;
  color: #15171a;
  background-color: white;
  border-width: 1px;
  border-radius: 0.2cm;
}

.butt:hover {
  color: white;
  background-color: #15171a;
  cursor: pointer;
  transition-duration: 500ms;
}

.log {
  text-align: center;
  padding: 50px;
}

.p {
  color: #5c6a78;
  font-size: 14px;
  font-family: sans-serif;
  cursor: pointer;
  padding: 10px;
}

.p:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 1000px) {
  .exp {
    display: flex;
    flex-direction: column;
  }

  .y {
    margin-left: 100px;
    margin-top: -30px;
  }
}
